<main class ='mb-5'>
  <div class='container'>
    <h1 class='pt-5 fw-bold'>利用規約</h1>
      <p>本規約は、（以下「当社」といいます。）が提供する「サイ適くん」（以下「本サービス」といいます。）を利用される際に適用されます。ご利用にあたっては、本規約をお読みいただき、内容をご承諾の上でご利用ください。</p>
    <h4 class='mt-4 fw-bold'>規約の適用</h4>
      <p>本規約は、当社が本サービスを提供する上で、利用者が本サービスの提供を受けるにあたっての諸条件を定めたものです。</p>
      <p>当社は、本サービスの提供に関して、本規約のほか、本サービスの利用に関する個別規約その他のガイドライン等を定めることがあります。この場合、当該個別規約その他のガイドライン等は、本規約の一部として利用者による本サービスの利用に適用されるものとします。</p>
      <p>利用者が本サービスを利用された場合、利用者が本規約に同意したものとみなします。</p>
      <p>利用者が、未成年の場合、利用者は、本サービスの利用について、親権者等法定代理人の同意を得なければなりません。当社は、未成年者の利用者による本サービスの利用については、親権者等法定代理人の同意を得て行為されたものとみなします。</p>

    <h4 class='mt-4 fw-bold'>商品等の購入</h4>
      <p>利用者は、本サービスを通して、出店者（別途当社と出店契約を締結した者をいいます。以下同じ。）より提供される商品、デジタルコンテンツ又は役務（以下「商品等」といいます。）を購入又は利用しようとする場合、商品等の購入又は利用の申込みを行うものとします。</p>
      <p>前項の申込みにあたり、利用者が入力した事項及び申込内容を確認の上、申込みを確定するボタンをクリックした時をもって、出店者との間で当該商品等の購入又は利用に係る契約が成立するものとします。</p>
      <p>商品等の内容、配送その他商品等に関する事項については、当社は責任を負わず、出品者及び利用者との間で解決するものとします。但し、当社の判断により、協議に入ることができるものとします。</p>
    <h4 class='mt-4 fw-bold'>支払方法</h4>
      <p>利用者は、前条の商品等の購入手続において表示される商品等の代金を支払うものとします。</p>
      <p>商品等の代金の支払方法は、購入手続において案内される方法又は当社が別途認める支払方法とします。</p>
      <p>クレジットカードによる支払の場合、利用者は、利用者がクレジットカード会社との間で別途契約する条件に従うものとします。クレジットカードの利用に関連して、利用者とクレジットカード会社との間で何らかの紛争が発生した場合、利用者は、自己の責任と費用において、当該紛争を解決するものとします。</p>
    <h4 class='mt-4 fw-bold'>購入手続後の契約の申込みの撤回又は解除</h4>
      <p>本サービスの利用にあたり、出店者及び利用者の合意がある場合を除き、商品等の購入手続後においては商品等の購入又は利用に係る契約の申込みの撤回又は解除はできないものとします。商品等に明らかな欠陥がある場合、商品説明と実際の商品等が明らかに異なるなどの場合には、出店者が責任を負うものとし、出店者の責任及び費用により、返金、商品の返品、交換等の対応を行うものとします。</p>
    <h4 class='mt-4 fw-bold'>商品等に関する免責</h4>
      <p>本サービスを通じて販売される商品等は、出店者により販売及び提供されているものであり、商品等に関して当社は、一切の責任を負わないものとします。</p>
      <p>当社は、本サービスのウェブサイト上の表示及び利用者が投稿した商品等に関する写真及びコメント並びにTwitter、Instagramその他のSNSサービスに投稿したコメントについて、適法性、有用性、完全性、正確性、最新性、信頼性、特定目的への適合性を含め何らの保証をしません。</p>
    <h4 class='mt-4 fw-bold'>知的財産権及びコンテンツ</h4>
      <p>本サービスを構成する全ての素材に関する著作権を含む知的財産権その他の一切の権利は、当社又は当該権利を有する第三者に帰属しています。利用者は、本サービスの全ての素材に関して、一切の権利を取得することはないものとし、権利者の許可なく、素材に関する権利を侵害する一切の行為をしてはならないものとします。本規約に基づく本サービスの利用の許諾は、本サービスに関する当社又は当該権利を有する第三者の権利の使用許諾を意味するものではありません。</p>
    <h4 class='mt-4 fw-bold'>サービスの内容の変更、追加、停止</h4>
      <p>当社は、利用者に事前の通知をすることなく、本サービスの内容の全部又は一部を変更、追加又は停止する場合があり、利用者はこれをあらかじめ承諾するものとします。</p>
    <h4 class='mt-4 fw-bold'>個人情報</h4>
      <p>当社は、利用者による本サービスの利用によって取得する個人情報を、当社のプライバシーポリシーに従い、適切に取り扱います。</p>
    <h4 class='mt-4 fw-bold'>禁止事項</h4>
      <p>利用者は、次の行為を行うことはできません。</li>
        <li class='py-1'>本サービスの運営を妨げ、又はそのおそれのある行為</li>
        <li class='py-1'>他の利用者による本サービスの利用を妨害する行為</li>
        <li class='py-1'>本サービスにかかる著作権その他の権利を侵害する行為</li>
        <li class='py-1'>当社、他の利用者又は第三者の権利又は利益（名誉権、プライバシー権及び著作権を含みますが、これらに限られません。）を侵害する行為</li>
        <li class='py-1'>公序良俗その他法令に違反する行為及びこれに違反する恐れのある行為</li>
        <li class='py-1'>本規約に違反する行為</li>
        <li class='py-1'>前各号の他、本サービスの趣旨に鑑みて当社が不適切と判断する行為</li>
      <p class='mt-3'>利用者が前項に定める行為を行ったと当社が判断した場合、当社は、利用者に事前に通知することなく、本サービスの全部又は一部の利用停止その他当社が必要かつ適切と判断する措置を講じることができます。本項の措置により利用者に生じる損害又は不利益について、当社は、一切の責任を負わないものとします。</p>
    <h4 class='mt-4 fw-bold'>反社会的勢力の排除</h4>
      <p>利用者は、当社に対し、次の事項を確約します。</p>
      <p>自らが、暴力団、暴力団関係企業、総会屋若しくはこれらに準ずる者又はその構成員（以下総称して「反社会的勢力」といいます。）ではないこと。</p>
      <p>自らの役員（業務を執行する社員、取締役、執行役又はこれらに準ずる者をいいます。）が反社会的勢力ではないこと。</p>
      <p>反社会的勢力に自己の名義を利用させ、本契約を締結するものでないこと。</p>
      <p>自ら又は第三者を利用して、次の行為をしないこと。</p>
      <p>相手方に対する脅迫的な言動又は暴力を用いる行為</p>
      <p>法的な責任を超えた不当な要求行為</p>
      <p>偽計又は威力を用いて相手方の業務を妨害し、又は信用を毀損する行為</p>
    <h4 class='mt-4 fw-bold'>免責事項</h4>
      <p>天災地変、戦争、テロ行為、暴動、労働争議、伝染病、法令の制定改廃、政府機関の介入その他不可抗力により、本サービスの全部又は一部の停止、中断、遅延が発生した場合、当社は、利用者に生じた損害又は不利益について一切責任を負いません。</p>
      <p>利用者は、通信回線やコンピュータの障害、システムメンテナンスその他の事由による本サービスの全部又は一部の停止、中断、遅延が起こり得ることを理解しているものとし、当社は、これらにより利用者に生じた損害又は不利益について一切責任を負いません。また、利用者の利用環境によって生じた損害又は不利益について、当社は一切責任を負いません。</p>
      <p>当社は、以下の掲げる事項について、明示的にも黙示的にも保証しません。</p>
        <li class='py-1'>本サービスの内容及び本サービスを通じて提供される情報の、有用性、完全性、正確性、最新性、信頼性、特定目的への適合性。</li>
        <li class='py-1'>本サービスで提供される情報が第三者の権利を侵害しないものであること。</li>
        <li class='py-1'>本サービスが将来にわたって存続し続けること</li>
      <p class='mt-3'>当社は、理由の如何を問わず、データ等の全部又は一部が滅失、毀損、又は改ざんされた場合に、これを復元する義務を負わないものとし、当該滅失、毀損、又は改ざんによりお客さま又は第三者に生じた損害等について一切の責任を負わないものとします。</p>
      <p>当社は、利用者による本サービスの利用に関連して、利用者に対して責任を負う場合には、該当の商品等の価額を超えて賠償する責任を負わないものとし、また、付随的損害、間接損害、特別損害、将来の損害および逸失利益にかかる損害については、賠償する責任を負わないものとします。</p>
    <h4 class='mt-4 fw-bold'>秘密保持</h4>
      <p>利用者は、本サービスの利用にあたり、当社より開示を受け、又は知り得た一切の情報について、第三者に開示又は漏えいしてはならず、本サービスの利用以外の目的に使用してはなりません。</p>
    <h4 class='mt-4 fw-bold'>当社からの通知</h4>
      <p>当社から利用者に対して通知を行う場合、利用者が登録した電子メールアドレス宛に電子メールを送信する方法、本サービスに係るウェブサイト上への掲示その他当社が適当と判断する方法により行うものとします。</p>
      <p>当社が通知を行う場合において、前項の電子メールアドレス宛に送信した場合、当該電子メールアドレスのメールサーバーに記録された時点で、当社の通知は利用者に到達したものとみなします。</p>
      <p>利用者は、第1項の電子メールアドレスに変更がある場合、速やかに当社に通知するものとします。本項の変更の通知を受けるまでに当社が変更前の電子メールアドレス宛に送信した通知は、その発信の時点で利用者に到達したものとみなします。</p>
      <p>利用者が前項に定める通知を怠ったことにより、利用者に損害又は不利益が生じたとしても、当社は何らの責任を負いません。</p>
    <h4 class='mt-4 fw-bold'>第三者との紛争</h4>
      <p>本サービスに関連して利用者と第三者間で発生した紛争については、利用者は自らの費用と責任で解決するものとし、当社は一切の責任を負わないものとします。</p>
      <p>前項に関し、当社が損害（弁護士費用を含みます。）を被った場合、利用者は当該損害を賠償するものとします。</p>
    <h4 class='mt-4 fw-bold'>権利義務の譲渡禁止</h4>
      <p>利用者は、本規約に基づく契約上の地位及びこれにより生じる権利義務の全部または一部について、当社の書面による事前の承諾なく、第三者に対し、譲渡、移転、担保権の設定その他の処分をすることができません。</p>
    <h4 class='mt-4 fw-bold'>分離可能性</h4>
      <p>本規約のいずれかの条項が利用者との本規約に基づく契約に適用される法令に違反し、無効とされる場合、当該条項は、その違反とされる限りにおいて、当該利用者との契約には適用されないものとします。この場合でも、本規約の他の条項の効力には影響しません。</p>
    <h4 class='mt-4 fw-bold'>本規約の変更</h4>
      <p>当社は、本規約を変更する必要が生じた場合には、民法第548条の4（定型約款の変更）に基づき、本規約を変更することができます。本規約を変更する場合、当社は、その効力発生日を定め、効力発生日までに、電子メールの送信その他の方法により以下の事項を周知するものとします。</p>
      <li class='py-1'>本規約を変更する旨</li>
      <li class='py-1'>変更後の本規約の内容</li>
      <li class='py-1'>効力発生日</li>
    <h4 class='mt-4 fw-bold'>準拠法、裁判管轄</h4>
      <p>本規約は、日本法に準拠して解釈されます。</p>
      <p>当社及び利用者は、本サービスに関し、当社と利用者との間で生じた紛争の解決について、東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とすることにあらかじめ合意します。</p>
  </div>
</main>
