<div class="container text-center">
  <%= image_tag "icon.png", size: "300x300" %>
  <h3 class="mt-2">お住まいの地域に適した防災グッズを提案します</h3>
  <div class="actions pt-4">
    <%= link_to "地域の危険度を診断する", "/search", class: "btn btn-outline-dark" %>
  </div>
</div>
