// result画面に関するスタイル
@import "variables";

.result_area {
  .chart-area {
    position: relative;
    height: 50vh;
    padding: none;
  }

  .hazard-discription {
    width: 100%;
  }

  .rank-chart {
    width: 100%;
  }

  .rank_main {
    display: flex;
    flex-direction: column;
    .rank_instruction {
      width: 100%;
      padding: 5px;
    }
    .rank_image {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .description {
    padding: 0 10px;
    font-size: 20px;
    text-align: left;
  }

  .image_size {
    max-width: 100%;
  }

  .more-info {
    font-size: 12px;
  }
}


@media screen and (min-width: 481px) {
  .result_area {
    .chart-area {
      width: 65vh;
      height: 50vh;
    }

    .hazard-discription {
      width: 800px;

      ul {
        font-size: 1.25rem;
      }
    }
    .rank-chart {
      width: 60%;
    }

    .description {
      font-size: 25px;
      text-align: center;
    }

    .rank_main {
      display: flex;
      flex-direction: row;
      .rank_instruction {
        width: 50%;
        size: 13px;
        padding: 5px;
      }
      .rank_image {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

}
