<!-- フッター -->
<footer class='py-4 text-dark'>
  <div class='container text-center'>
  <!-- ナビゲーション -->
    <ul class='nav justify-content-center mb-3'>
      <li class='nav-item'>
        <%= link_to 'ホーム', root_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>お問い合わせ</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>プライバシーポリシー</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>利用規約</a>
      </li>
    </ul>
    <!-- /ナビゲーション -->
    <p>
      <small>Copyright &copy;2022 サイ適くん. All Rights Reserved.</small>
    </p>
  </div>
</footer>
