<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffff00;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <%= image_tag 'logo.png', size:'50x50' %>
      </div>
      <div class="col-3 d-flex align-items-center">
        <p class="navbar-brand fs-2 lh-1">サイ適くん</p>
      </div>
    </div>
  </div>
</nav>
