<div class="navbar navbar-expand-lg navbar-light vh-10 sticky-top" style="background-color: #ffff00;">
  <div class="container-fluid mx-2">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag 'logo.png', size: "47x47" %>
      <h2 class="pt-2 mx-2">サイ適くん</h2>
    <% end %>
  </div>
</div>

