// トップページに関するスタイル
@import "variables";

.middle-wrapper {
  background-color: $middle-wrapper-color;

  .contents {
    .image-contents {
      img {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  /* 768px以上用（タブレット・PC用）の記述 */
  .middle-wrapper {

    .contents {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .text-contents {
        h4 {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
