<div class="col-md-10 m-auto">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-auto d-none d-lg-block">
      <img src="<%= g['mediumImageUrls'][0] %>" class="bd-placeholder-img" width="250" height="250" >
    </div>
    <div class="col p-4 d-flex flex-column position-static">
      <h4 class="mb-0"><%= good_info.name %></h4>
      <br/>
      <p class="mb-auto"><%= good_info.description %></p>
      <div class="actions">
        <a href="<%= g['itemUrl'] %>" class="btn btn-danger" target="_blank">楽天市場へ</a>
      </div>
    </div>  
  </div>
</div>