<div class="container mt-4">
  <h3 class="text-center"><%= @type.description %></h3>
  <br/>
  <% @goods.each do |good_info| %>
    <% good = RakutenWebService::Ichiba::Item.search(itemCode: good_info.item_code) %>
    <% good.each do |g| %>
      <%= render 'goods', { g: g, good_info: good_info } %>
    <% end %>
  <% end %>
  <div class="actions text-center">
    <%= link_to "TOP画面へ戻る", root_path, class: "btn btn-outline-dark" %>
  </div>
</div>
